Importing the libraries.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Importing the datasets in 'df'

In [3]:
df = pd.read_csv("Data.csv")
#checking for the null values.
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

Here now, X and Y are extracted as the independent and dependent variable set. You can use either iloc, loc, or ix for this. ".Values" added after the loc, is for the removal of the indexes and creats a 2 dimensional matrix, otherwise X/Y would have been a dataframe.

In [4]:
X = df.loc[:, :'Salary'].values
Y = df.loc[:, ['Purchased']].values

Now we will see how to handle the missing data. We can either remove the rows with the missing data, but it will lead to crucial loss of info. We can replace the NaN values with the mean of the other values, using Imputer.

In [32]:
from sklearn.preprocessing import Imputer
##creating object of the class:
impt = Imputer(missing_values = "NaN", strategy = "mean", axis = 0)
f = impt.fit(X[:, 1:3])
X[:, 1:3] = f.transform(X[:, 1:3])
print X
##for check
print "Note, Mean of Salary is:" 
print df.Salary.mean()

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
Note, Mean of Salary is:
63777.7777778

Now, to deal with the categorical variables. Like the Country, and Purchased variable have categorical variable. Although, the no. from below code are labeled as 0, 1, or 2, but the code will think that, 2>0 or Spain> France, thus it does not makes sense. We will prevent this by making **dummy variables**, this means that we will be using a column for each categorical variable.

In [33]:
from sklearn.preprocessing import LabelEncoder
lbX = LabelEncoder()
f = lbX.fit(X[:, 0])
X[:, 0] = f.transform(X[:, 0])
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [34]:
##now creating dummy variable
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features = [0])
f = ohe.fit(X)
#toarray is used to convert a sparse matrix to a dense matrix
X = f.transform(X).toarray()
print X.shape
#Now for Y:
lbY = LabelEncoder()
f = lbY.fit(Y)
Y = f.transform(Y)
len(Y)

(10, 5)

10

Now, we need to split the data into a training set and the test set to train and validate our model or measure the performance of the model.

In [35]:
from sklearn.cross_validation import train_test_split
trainx, testx, trainy, testy = train_test_split(X, Y, test_size = 0.2)
trainx.shape

(8, 5)

Now, to go with the feature scaling part! We have numerical no. on a completely diff scales, say compare Age and Salary. This causes issues in ML models. Lot of ML models are based on euclidian distance, or dist between 2 points. Since Salary has much wider range of Values, the dist will be dominated by Salary, undermining the Age vector.

Another question is: should we scale the dummy variables. It depends on the context, scaling surely increases the accuracy, but decreases the interpretation.

Feature scaling also reduces runtime process of several models.

In [36]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
trainx = ss.fit_transform(trainx)
testx =ss.transform(testx)
t = pd.DataFrame(trainx)
t

          0         1         2         3         4
0  1.290994 -0.577350 -0.774597  0.991953  1.130898
1 -0.774597 -0.577350  1.290994 -1.641779 -1.330301
2 -0.774597 -0.577350  1.290994  0.182898 -0.920101
3 -0.774597  1.732051 -0.774597  0.372251  0.287710
4  1.290994 -0.577350 -0.774597 -0.402376 -0.304801
5 -0.774597 -0.577350  1.290994  0.062401  0.002849
6  1.290994 -0.577350 -0.774597  1.611655  1.848748
7 -0.774597  1.732051 -0.774597 -1.177003 -0.715001